This project was given by Analytics Vidhya as a final assignment for their Power BI course and the data set is a simple food delivery company data set like Swiggy and Zomato. As we know that in real life a client lets you know their requirement, like what he wants in the Power BI report. So, Analytics Vidhya also gave some questions which were.

1. What is the total number of orders catered by the firm? There should be a date filter in the dashboard.
2. What is the revenue earned by the firm?
3. What is the total discounted value?
4. What is the overall discount%?
5. What are the top 5 selling categories?
6. Does the operational area of the store influence number of orders?
7. Are emails & product features on the homepage an effective mode of promotion?
8. What will be the next 5 weeks forecasted weekly quantity sold for each center, city and meal category?

They provided 3 excel files which contained the following tables and columns -

fulfilment center info - center id, center type, city code, operational area (KM), region code

Meal info - category, cuisine, meal id

weekly demand data - base price, center id, checkout price, emailer for promotion (cuisines promoted via mails), homepage feature (cuisines promoted via featuring on homepage), id, meal id, number of orders, week number

Since the data was provided to me week wise so I had to build a week wise calendar table as well.

I have added a summary as well in the report do check out to know the answers.